<form action="/todos" method="POST">
  <input type="text" placeholder="新增todo" name="name">
  <button type="submit">create</button>
</form>
<ul>
  {{#each todos}}
  <li>
    {{name}}
  </li>
  {{/each}}
</ul>