<form action="/todos" method="POST">
  <input type="text" placeholder="新增todo" name="name">
  <button type="submit">create</button>
</form>
<ul>
  {{#each todos}}
  <li>
    {{name}}
    <a href="./todos/{{ this._id }}">detail</a>
    <a href="./todos/{{ this._id }}/edit">edit</a>
    <form action="./todos/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>

  {{/each}}
</ul>